@import '../../styles/animations';
@import '../../styles/ms';
@import '../../styles/mq';
@import '../../styles/fonts';
@import '../../styles/colors';

$clr-im-bg: rgb(29, 30, 38);

.instant-message {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000; // Hopefully this will always be above everything (I know... *hopefully*)
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  color: white;
  background: rgba(
    red($clr-im-bg),
    green($clr-im-bg),
    blue($clr-im-bg),
    .97);
  transition: all 500ms $easeInOutCirc;

  &--sent {
    background: rgba(
      red($clr-green),
      green($clr-green),
      blue($clr-green),
      .97);
  }

  &--invalid &__send-btn {
    background: darken($clr-bg, 40%);
    pointer-events: none;
    opacity: .6;
  }

  &__main {
    position: relative;
    width: 100%;
    padding: 15px;
    animation: message-main-in 600ms 1 both $easeInOutCirc;

    @media #{$mq-tablet-up} {
      width: 70%;
      padding: 0;
    }

    @media #{$mq-desktop-up} {
      width: 50%;
    }
  }

  &__textarea {
    width: 100%;
    height: 100%;
    min-height: 50vh;
    border: none;
    border-radius: 4px;
    padding: msRem(3);
    font-size: msRem(2);
    background: white;
    color: lighten($clr-text, 35%);

    @media #{$mq-tablet-up} {
      min-height: 40vh;
    }
  }

  &__textarea:focus {
    color: lighten($clr-text, 15%);
    outline: none;
  }

  &__close {
    display: inline-block;
    padding: 15px 0;
    cursor: pointer;
    font-family: $ff-headings;
    animation: fade-in 200ms 800ms 1 both ease-out;
  }

  &__send-btn {
    position: absolute;
    bottom: msRem(6);
    right: msRem(4);
    padding: 9px 15px 7px;
    color: white;
    background: darken($clr-green, 10%);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    animation: fade-in 200ms 800ms 1 both ease-out;

    @media #{$mq-tablet-up} {
      bottom: msRem(2);
      right: msRem(2);
    }

    &:hover {
      background: $clr-green;
    }
  }

  &__sent {
    text-align: center;
    animation: message-sent-in 900ms 1 both $easeInOutCirc;

    h1 {
      font-size: msRem(5);
      margin-bottom: msRem(5);
    }

    .instant-message__close {
      padding: 10px 20px 7px;
      border: 2px solid rgba(255, 255, 255, .5);
      transition: all 200ms;
      border-radius: 30px;
      animation: fade-in 200ms 1s 1 both ease;

      &:hover {
        border-color: white;
      }
    }
  }

  &__emoji {
    font-size: msRem(13);
  }
}

@keyframes message-main-in {
  from {
    opacity: 0;
    transform: translateY(60vh);
  }
}

@keyframes message-sent-in {
  from {
    opacity: 0;
    transform: perspective(900px) rotateX(-80deg) translateY(300px);
  }
}
