$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);

@keyframes fade-in {
  from {
    opacity: 0;
  }
}


@keyframes fade-in-rtl {
  from {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
  }
}

@keyframes fade-in-ltr {
  from {
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
  }
}

@keyframes in-rtl {
  from {
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes in-ltr {
  from {
    transform: translate3d(-100%, 0, 0);
  }
}
