// Main color library
// Blacks
$clr-black: #232325;
$clr-anthracite: #202a2d;
// Greys
$clr-offwhite: #f5f5f5;
$clr-grey-subtle: #b3b3b3;
$clr-grey-neutral: #7e7e7e;
// Blues
$clr-blue: #0b19da;

// Assign colors to some kind of logical scheme
$clr-bg: white;
$clr-text: $clr-black;;
$clr-link: $clr-blue;
