$clr-black: #0a0a0a;
$clr-white: #ffffff;
$clr-offwhite: #fafafa;
$clr-offblack: #393844;
$clr-obsidian: #18171a;
$clr-green: #43cf64;
$clr-blue: #62aaff;
$clr-white-blue: #F1FFFF;

// Assign colors to some kind of scheme
$clr-bg: $clr-obsidian;
$clr-text: $clr-offwhite;
$clr-link: $clr-blue;
