// Main color library
// Blacks
$clr-black: #0e0f13;
$clr-anthracite: #202a2d;
// Greys
$clr-offwhite: #eceff7;
$clr-subtle: #dddef0;
$clr-neutral: #bdc1dd;
// Blues
$clr-blue: #3067e0;
$clr-deep-blue: #060b2b;
// Yellows
$clr-yellow: #e9dd40;

// Assign colors to some kind of logical scheme
$clr-bg: $clr-black;
$clr-text: white;
$clr-link: $clr-yellow;
