$modular-scale: 1.125; // Major second (http://www.modularscale.com/?1&em&1.125&web&text)

@function ms($exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $modular-scale;
    }
  } @else {
    @for $i from 1 through ($exponent * -1) {
      $value: $value / $modular-scale;
    }
  }

  @return $value;
}


@function msRem($exponent) {
  $val: ms($exponent);
  @return #{$val}rem;
}
