@import './colors';

:root {
  width: 100%;
  height: 100%;
  background: $clr-bg;
  color: $clr-text;
}

// I know this is bad, but let's handle this on its own
*:focus {
  outline: 1px dotted $clr-grey-neutral;
}
