@import './ms';
@import './mq';
@import './colors';
@import './fonts';

html {
  font-size: 17px;
  @media #{$mq-tablet-up} {
    font-size: 20px;
  }
}

body {
  font: 400 1rem/1.5 $ff-body;
  -webkit-font-smoothing: antialiased;
  @media #{$mq-tablet-up} {
    font: 1rem/1.5 $ff-body;
  }
}

h1, h2, h3 {
  font-weight: 500;
  font-family: $ff-headings;
}


strong, b {
  font-weight: 500;
}


a, .pseudo-link {
  color: $clr-link;
  cursor: pointer;
  text-decoration: none;
  &:hover, &:focus { text-decoration: underline; }
}

// Forms
input, textarea {
  font: 1rem/1.5 $ff-body;
}

button {
  font: #{msRem(1)}/1 $ff-headings;
}
