@import './mq';
@import './colors';
@import './fonts';

html {
  font-size: 17px;
  @media #{$mq-tablet-up} {
    font-size: 19px;
  }
}

body {
  font: 1rem/1.5 $ff-body;
  @media #{$mq-tablet-up} {
    font: 1rem/1.5 $ff-body;
  }
}

h1, h2, h3 {
  font-weight: 500;
  font-family: $ff-headings;
}


strong, b {
  font-weight: 700;
}


a { color: $clr-text; }
a:hover { color: #07b1de; }
