@import '../../styles/animations';
@import '../../styles/ms';

.the-end {
  width: 100%;
  margin: msRem(14) 0 0;
  text-align: right;

  &__text {
    display: inline-block;
    padding: 0 4px;
    transition: all 400ms 300ms $easeOutBack;
  }

  &__heart {
    svg {
      position: relative;
      top: -3px;
      display: inline-block;
      width: 25px;
      height: auto;
      margin-left: 20px;
      vertical-align: middle;
      transition: all 200ms 600ms $easeOutBack;
    }
  }

  &--not-in-view &__heart-animate {
    transform: translateX(-1469px);
  }

  &--not-in-view &__text {
    opacity: .1;
  }

  &--not-in-view &__heart svg {
    transform: scale(.5);
    opacity: 0;
  }

  &--in-view &__heart-animate {
    animation: heart-colors 5s 1s infinite both linear;
  }
}

@keyframes heart-colors {
  from {
    transform: translateX(-1469px);
  }
}
