@import '../../styles/colors';
@import '../../styles/ms';

.the-footer {
  width: 100%;
  margin-top: msRem(20);  
}

.footer-list {
  display: flex;
  flex-flow: column nowrap;
  
  &__item { display: block; }
  a { color: $clr-subtle; }
}
