@import '../../styles/animations';
@import '../../styles/colors';
@import '../../styles/fonts';
@import '../../styles/ms';
@import '../../styles/mq';


.front-view {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  width: 100%;
  padding: msRem(5);

  @media #{$mq-tablet-up} {
    padding: msRem(10);
  }

  &__cover {
    width: 100%;
    padding-top: 70%;
    margin-bottom: msRem(10);
    background: darken($clr-bg, 10%) url('../../static/img/nosaj.jpg') center no-repeat;
    background-size: cover;

    @media #{$mq-desktop-up} {
      padding-top: 0;
      margin-bottom: 0;
      max-width: auto;
      position: fixed;
      top: msRem(10);
      left: msRem(10);
      bottom: msRem(10);
      width: calc(40% - #{msRem(10)});
      background-position: center left;
    }
  }

  &__main {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    width: 100%;
    background: $clr-bg;

    @media #{$mq-desktop-up} {
      width: 60%;
      margin-left: 40%;
      padding-left: msRem(10);
    }
  }

  &__introduction {
    width: 100%;
    max-width: 600px;

    @media #{$mq-tablet-up} {

    }

    h1 {
      font: 700 #{msRem(5)}/1.4 #{$ff-body};
      font-style: italic;
      margin-bottom: msRem(2);

      @media #{$mq-tablet-up} {
        display: block;
        margin-bottom: msRem(3);
        font-size: msRem(9);
      }
    }

    .subhead {
      font: #{msRem(3)}/1.4 #{$ff-body};
      font-style: italic;

      @media #{$mq-tablet-up} {
        font-size: msRem(5);
      }
    }
  }

  &__actions {
    display: block;
    margin-top: msRem(15);
    width: 100%;

  }

  &__action {
    display: inline-block;
    padding: msRem(-1) msRem(2);
    cursor: pointer;
    background: darken($clr-bg, 5%);
    border-radius: 4px;

    em {
      display: block;
      font: 500 msRem(-1) $ff-headings;;
    }
  }

  &__posts {
    width: 100%;
    margin-top: msRem(15);

    &-header {
      margin-bottom: msRem(4);
      color: black;
      font-size: msRem(4);
    }

    &-header h1 {
      display: inline-block;
      border-bottom: 5px solid darken($clr-bg, 10%);
    }
  }

  &.animate {
    .front-view__introduction h1       { animation: fade-in-y 500ms 1 both $easeInOutCirc; }
    .front-view__cover                 { animation: fade-in 500ms 500ms 1 both $easeInOutCirc; }
    .front-view__introduction .subhead { animation: fade-in 300ms 500ms 1 both $easeInOutCirc; }
    .front-view__actions               { animation: fade-in 300ms 600ms 1 both $easeInOutCirc; }
    .front-view__posts                 { animation: fade-in-y 500ms 700ms 1 both $easeInOutCirc; }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-in-y {
  from {
    transform: translateY(200px);
    opacity: 0;
  }
}
