@import '../../styles/animations';
@import '../../styles/colors';
@import '../../styles/fonts';
@import '../../styles/ms';
@import '../../styles/mq';

$front-max-width: 600px;

.front-view {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  padding: msRem(5);

  @media #{$mq-tablet-up} {
    padding: msRem(10);
  }

  &__introduction {
    width: 100%;

    @media #{$mq-tablet-up} {
      max-width: $front-max-width;
    }

    h1 {
      font: 700 #{msRem(3)}/1.4 #{$ff-body};
      font-style: italic;
      animation: fade-in-up 500ms 1 both $easeInOutCirc;

      @media #{$mq-tablet-up} {
        display: block;
        margin-bottom: msRem(3);
        font-size: msRem(9);
      }
    }

    .subhead {
      font: #{msRem(3)}/1.4 #{$ff-body};
      font-style: italic;
      animation: fade-in 500ms 700ms 1 both $easeInOutCirc;

      @media #{$mq-tablet-up} {
        font-size: msRem(5);
      }
    }
  }

  &__actions {
    display: block;
    margin-top: msRem(15);
    width: 100%;
    max-width: $front-max-width;
    animation: fade-in 300ms 800ms 1 both $easeInOutCirc;
  }

  &__action {
    display: inline-block;
    padding: msRem(-1) msRem(2);
    cursor: pointer;
    background: darken($clr-bg, 5%);
    // color: white;
    border-radius: 4px;

    em {
      display: block;
      font: 500 msRem(-1) $ff-headings;;
    }
  }

  &__posts {
    width: 100%;
    max-width: $front-max-width;
    margin-top: msRem(15);
    animation: fade-in-up 500ms 1s 1 both $easeInOutCirc;

    &-header {
      margin-bottom: msRem(4);
      color: black;
      font-size: msRem(4);
    }

    &-header h1 {
      display: inline-block;
      border-bottom: 5px solid darken($clr-bg, 10%);
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-in-up {
  from {
    transform: translateY(200px);
    opacity: 0;
  }
}
