@import '../../styles/animations';
@import '../../styles/colors';
@import '../../styles/fonts';
@import '../../styles/ms';
@import '../../styles/mq';

.front-view__main {
  display: flex;
  flex-flow: column nowrap;
}

.front-section {
      
  & + & {
    margin-top: #{msRem(10)};
    @media #{$mq-desktop-up} {
      margin-top: msRem(18);
    }
  }
}
