@import '../../styles/ms';
@import '../../styles/colors';

.button {
  display: inline-block;
  padding: msRem(-3) msRem(1);
  background: $clr-yellow;
  color: $clr-bg;
  border-radius: 2px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}
