@import '../../../styles/mq';
@import '../../../styles/ms';
@import '../../../styles/fonts';

.project {
  min-height: 100vh;
  height: auto;
  border: msRem(1) solid transparent;
  font: 1rem $ff-sans-serif;

  h1 { font: 700 msRem(7) $ff-sans-serif; }
  h2 { font: 700 msRem(2) $ff-sans-serif; }
  h3 { font: 700 msRem(2) $ff-sans-serif; }

  @media #{$mq-desktop-up} {
    border-width: msRem(3);

    h1 { font: 700 msRem(9) $ff-sans-serif; }
    h2 { font: 700 msRem(2) $ff-sans-serif; }
    h3 { font: 700 msRem(2) $ff-sans-serif; }
  }
}

.project__body {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: auto;
  min-height: calc(100vh - #{msRem(3)});
  line-height: 1.5;

  @media #{$mq-desktop-up} {
    align-items: stretch;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  p {
    margin-top: msRem(3);
    margin-bottom: msRem(3);
  }

  h2, h3 {
    margin-top: msRem(7);
    margin-bottom: msRem(3);
  }

  .project__points {
    li {
      position: relative;
      padding-left: 28px;
    }

    li::before {
      content: '\00b7';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 msRem(-4) 0 msRem(-6);
    }

    li + li {
      margin-top: msRem(-2);
    }
  }
}

.project__text,
.project__images {
  width: 100%;
  padding: msRem(2);
  margin-bottom: msRem(3);

  @media #{$mq-desktop-up} {
    margin-bottom: 0;
    padding: msRem(5);
    width: calc(50% - #{msRem(3)/2});
  }
}

.project__text {


  @media #{$mq-desktop-up} {

  }
}

.project__header {
  width: 100%;
  margin-bottom: msRem(9);
}

.project__title {
  margin-bottom: msRem(5);
}

.project__images {
  @media #{$mq-desktop-up} {
  }
}
