@import '../../styles/ms';
@import '../../styles/mq';
@import '../../styles/colors';

$logo-hw-ratio: .810734463; // For scaling the logo properly


.logo {
  display: block;
  
  @media #{$mq-tablet-up} {
    margin-bottom: msRem(4);  
  }
  
  // These breakpoints & 'padding' values to align with `app.scss`
  @media #{$mq-hd-up} {
    position: fixed;
    top: 0; right: auto;
    bottom: auto; left: 0;
    padding: msRem(5);
    margin-bottom: 0;
  }
  
  > svg {
    display: block;
    height: #{ms(10) * $logo-hw-ratio}rem;
    width: msRem(10);
    
    @media #{$mq-tablet-up} { width: msRem(13); height: #{ms(13) * $logo-hw-ratio}rem; }
    @media #{$mq-hd-up} { width: msRem(14); height: #{ms(14) * $logo-hw-ratio}rem; }
  }
}
