@import '../../styles/ms';
@import '../../styles/mq';

.logo {
  width: 100%;
  margin-bottom: #{msRem(3)};
  
  @media #{$mq-tablet-up} {
    margin-bottom: #{msRem(10)};
  }
}

.logo h1 {
  font-weight: 700;
}
