@import '../../styles/ms';
@import '../../styles/mq';
@import '../../styles/animations';
@import '../../styles/fonts';
@import '../../styles/colors';

$post-media-width: 950px;
$post-text-width: 700px;

.post-wrapper {
  background: white;
  padding: msRem(3);
  color: $clr-bg;
  
  @media #{$mq-hd-up} {
    padding-top: msRem(15);
  }
  
  a {
    color: #123dd6;
  }
  
  .logo {
    svg path { fill: $clr-bg; }
  }
  
  .footer-list {
    flex-flow: row wrap;
    justify-content: center;
    &__item + .footer-list__item { margin-left: msRem(4); }
  }
}

.a-post {
  max-width: $post-text-width;
  @media (min-width: 702px) {
    margin: 0 auto;
  }
  
  &__cover {
    width: 100%;
    max-width: $post-media-width;
    height: auto;
    margin: 0 auto #{msRem(10)};
    border-radius: 6px;
        
    &::after {
      content: '';
      display: block;
      width: 100%;
      padding-bottom: 63%;
      @media #{$mq-tablet-up} {
        padding-bottom: 40%;
      }
    }
  }
  
  &__header {
    width: 100%;
    margin-bottom: msRem(4);
    @media #{$mq-tablet-up} {
      margin-bottom: msRem(7);
    }
    
    > h1 {
      font: #{msRem(5)} #{$ff-serif};
      font-weight: 800;
      width: 70%;
    }
    
  } 
  
  &__meta {
    margin-top: msRem(-1);
    font: msRem(-2) #{$ff-mono};
    color: $clr-blue;
  }
  
  &__body {
    width: 100%;
    
    @media #{$mq-tablet-up} {
      font-size: msRem(1);
    }
  } 
}

// Post body Typography
.a-post__body {
  font-size: 1rem;
  font-family: $ff-sans-serif;
  
  p {
    margin: #{msRem(2)} 0;
    @media #{$mq-tablet-up} {
      margin: #{msRem(4)} 0;
    }
  }
  
  h1, h2, h3 {
    margin-top: msRem(9);
    font-size: msRem(3);
    font-weight: 600;
  }
  
  ul, ol {
    padding-left: msRem(4);
    margin: #{msRem(2)} 0;
    @media #{$mq-tablet-up} {
      margin: #{msRem(4)} 0;
    }
    
    li { margin: #{msRem(1)} 0; }
  }
  
  ul { list-style: disc; }
  ol { list-style: upper-roman; }
  
  > hr, 
  > hr::before, 
  > hr::after {
    position: relative;
    display: block;
    width: 4px; 
    height: 4px;
    background: $clr-bg;
    border-radius: 1px;
    border: none;
  }
  > hr { margin: #{msRem(6)} auto; }
  > hr::before { 
    content: ''; 
    position: absolute; 
    top: 0; left: 1rem;
    transform: rotate(45deg);
  }   
  > hr::after { 
    content: ''; 
    position: absolute; 
    top: 0; left: -1rem;
    transform: rotate(45deg);
  }
  
  // Image and video containers
  > div, .image {
    margin: #{msRem(6)} 0;
    width: 100%;
    > cite,
    > img,
    > iframe { 
      display: block; 
      max-width: 100%;
    }
    
    > cite, .image-caption {   
      display: block;
      margin-top: msRem(1);
      font: msRem(-2) #{$ff-mono}; 
      color: $clr-light-text;
    }
  }
}

.next-post {
  margin-top: msRem(15);
  padding: msRem(10);
  text-align: center;
  cursor: pointer;
    
  &__header, &__post {
    transition: all 300ms ease-out;
    max-width: $post-text-width + 200px;
    @media (min-width: #{$post-text-width + 202px}) {
      margin-left: auto;
      margin-right: auto;
    }  
  }
  
  &:hover {
    .next-post__header {
      opacity: .5;
      transform: scale(.8);
      transition: all 400ms $easeInOutCirc;
    }
    .next-post__post {
      transform: scale(1.2);
      transition: all 1.2s $easeInOutCirc;
    }
  }
  
  &__header {
    h2 {
      font-size: msRem(1);
      
      @media #{$mq-desktop-up} {
        font-size: msRem(2);
      }
    }
  }
  
  &__post {
    display: inline-block;
    margin-top: msRem(1);
    
    h1 {
      display: inline;
      font-size: msRem(4);
      font-weight: 600;
      border-bottom: 1px solid black;
      
      @media #{$mq-desktop-up} {
        font-size: msRem(5);
      }
      
    }
  }
}
