@import '../../styles/animations';
@import '../../styles/mq';
@import '../../styles/ms';
@import '../../styles/colors';
@import '../../styles/fonts';

$maxCoverImages: 2;

.portfolio {
  background: #000;
  height: auto;
  min-height: 100vh;

  &__body {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
}

.project-tile {
  position: relative;
  width: 100vw;
  height: 78vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: msRem(5);
  text-align: center;
  cursor: pointer;

  @media #{$mq-tablet-up} {
    width: 50vw;
    height: 39vw;
  }


  @media #{$mq-desktop-up} {
    width: 33.33vw;
    height: 25vw;
  }

  .project-tile--has-cover.project-tile--is-selected &__meta {
    transform: scale(.1);
    opacity: 0;
  }

  &--is-selected .cover-image {
    transform: translateX(0);
    opacity: 1;
  }

  &__cover {
    position: absolute;
    top: 0; left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__meta {
    position: relative;
    z-index: 200;
    transition: all 300ms $easeInOutCirc;
    font: msRem(-1) $ff-sans-serif;
  }

  &__title {
    font: 700 msRem(5) $ff-sans-serif;
  }

  &__types {
    display: block;
    margin-top: 5px;
  }

  &__type {
    display: inline-block;
  }

  &__type .divider {
    display: inline-block;
    margin: 0 msRem(-5);
    font-size: 14px;
    vertical-align: middle;
    opacity: .7;
  }
}

.cover-image {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;
}

@for $i from 1 through $maxCoverImages {
  .cover-image--#{$i} {
    z-index: #{200/$i};
    transition: all 300ms $easeInOutCirc;
    opacity: .4;

    @if $i == 1 {
      transform: translateX(-20%);
    } @else {
      transform: translateX(20%);
    }
  }
}

.projects-intro {
  flex-flow: column nowrap;
  background: white;
  font: msRem(2) $ff-sans-serif;
  cursor: default;

  &__picture {
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    margin-bottom: msRem(3);
    overflow: hidden;
    border-radius: 100px;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__text {
    color: $clr-black;

    p + p { margin-top: 1rem; }
  }
}
