@import '../../styles/colors';
@import '../../styles/ms';
@import '../../styles/mq';

.wrap-everything {
  position: relative;
  padding: #{ms(3)}rem;
  background: $clr-bg;
  color: $clr-text;

  &.is-locked {
    height: 100vh;
    overflow: hidden;
  }
  
  @media #{$mq-desktop-up} {
    padding: #{ms(18)}rem;
  }
}

// This is simply a helper class that should be added to child views so that 
// *its* children will treat it as parent
.a-view {
  position: relative;
}
