@import '../../styles/ms';
@import '../../styles/mq';
@import '../../styles/colors';

.message-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
}

.message-notice {
  margin-top: msRem(3);
}

.message-header {
  margin-bottom: msRem(2);
  text-align: center;
  color: white;
  text-shadow: 0 3px 7px rgba(0, 0, 0, .8);
  
  &__title {
    font-weight: 600;
    font-size: msRem(7);    
    
    @media #{$mq-desktop-up} {
      font-size: msRem(9);
    }
  }
}

.message-box {
  background: white;
  
  @media #{$mq-desktop-up} {
    max-width: 1024px;
    border-radius: 2px;
    overflow: hidden;
  }
}

.message-form {
  display: flex;
  flex-flow: row wrap;  
}

.message-field {
  display: block;
  background: lighten($clr-subtle, 2%);
  border: none;
  padding: msRem(1);
  transition: background 300ms; 
  
  &:focus {
    background: white;
    outline: none;
  }
  
  &--input {
    flex-basis: 100%;
    @media #{$mq-tablet-up} {
      flex-basis: 50%;
    }
  }
  
  &--input + &--input {
    border-top: 2px solid $clr-neutral;
    @media #{$mq-tablet-up} {
      border: none;
      border-left: 2px solid $clr-neutral;
    }
  }
  
  &--textarea {
    flex-basis: 100%;
    min-height: 200px;
    border-top: 2px solid $clr-neutral;
  }
  
  &--button {
    flex-basis: 100%;
    background: $clr-yellow;
    color: black;
    text-align: center;
    padding: msRem(1) 0;
    transition: background 300ms; 
    
    &:hover {
      background: darken($clr-yellow, 12%);  
    }
  }
}
