@import '../../styles/ms';

.four-oh-four {  
  &__title {
    font-size: msRem(14);
    font-weight: 500;
    
    > sup {
      vertical-align: super;
      font-size: msRem(2);
      color: #bababa;
    }
  }
  
  p {
    font-size: msRem(1);
    max-width: 700px;
  }
}
