@import '../../styles/colors';
@import '../../styles/ms';

.front-intro {
  width: 100%;
  max-width: 736px;
  font-size: msRem(2);
  
  p + p { margin-top: msRem(1); }
  
  &__booking {
    color: $clr-grey-neutral;
  }
}
