@import '../../styles/colors';
@import '../../styles/fonts';
@import '../../styles/ms';
@import '../../styles/mq';

.front-intro {
  margin-top: msRem(5);
  width: 100%;
  max-width: msRem(29);
  font-size: msRem(1);
  
  @media #{$mq-hd-up} {
    margin-top: msRem(13);
  }
  
  p + p { 
    margin-top: msRem(2); 
    @media #{$mq-desktop-up} {
      margin-top: msRem(5); 
    }
  }
  
  &__booking {
    display: block;
    margin-top: msRem(-1);
    color: $clr-neutral;
    font: msRem(-1) $ff-mono;
  }
}
