@import '../../styles/colors';
@import '../../styles/ms';
@import '../../styles/mq';

$post-max-width: 1000px;

.post {
  width: 100%;

  &__container {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  .post-meta {
    display: block;

    &__item {
      display: inline-block;
      font-size: msRem(-1);
      color: lighten($clr-bg, 35%);
    }

    .post-meta__item + .post-meta__item {
      margin-left: 10px;

      &::before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 3px;
        height: 3px;
        margin-right: 10px;
        border-radius: 50%;
        background: lighten($clr-text, 50%);
      }
    }
  }

  &__header,
  &__body {
    width: 100%;
    max-width: $post-max-width;
    padding: 15px;

    @media #{$mq-tablet-up} {
      padding: 0;
      max-width: $post-max-width + 120px;
    }
  }

  &__header {
    margin: msRem(5) 0;

    @media #{$mq-tablet-up} {
      // padding: 0 60px;
      margin: msRem(14) 0 msRem(10);
    }

    .post-title {
      font-size: msRem(7);
      color: white;
    }
  }

  &__body {
    margin-bottom: msRem(13);

    p {
      font-size: msRem(1);
    }

    h1 {
      font-size: msRem(4);
    }

    h2 {
      font-size: msRem(3);
    }

    @media #{$mq-tablet-up} {
      h1 {
        font-size: msRem(6);
      }

      h2 {
        font-size: msRem(4);
      }
    }

    div, img, iframe, p {
      display: block;
      width: 100%;
    }

    > div cite {
      display: block;
      padding: msRem(2);
      color: lighten($clr-bg, 40%);
      font-size: 18px;
      font-style: italic;
      text-align: center;
    }

    > div,
    > img,
    > ul,
    > ol {
      margin: msRem(9) 0;
    }


    > p,
    > h1,
    > h2,
    > h3,
    > h4,
    > ul,
    > ol {
      @media #{$mq-tablet-up} {
        // padding: 0 60px;
      }
    }

    > h1,
    > h2,
    > h3,
    > h4 {
      color: lighten($clr-bg, 60%);
      margin-top: #{ms(5)}em;
      margin-bottom: msRem(3);
    }

    p + p {
      margin-top: msRem(5);
    }

    // Lists
    > ul,
    > ol {
      @media #{$mq-phone-only} {
        padding-left: 25px;
      }
    }

    ol {
      list-style-type: decimal;
    }

    ul {
      list-style-type: circle;
    }

    li + li {
      display: list-item;
      margin-top: msRem(1);
    }

    hr {
      display: block;
      width: 10%;
      height: 7px;
      margin: msRem(9) auto;
      border: none;
      background: lighten($clr-bg, 20%);
    }
  }
}
